.wrapper{
    width: 1200px;
    margin: 0 auto;
}
li{
    float: left;
}

.topbar{
    height: 30px;
    line-height: 30px;
    background-color: #43d9f0;
}
.topbar .bar{
    width: 400px;
    height: 30px;
    line-height: 30px;
}
.topbar .bar li{
    margin-right: 10px;
}
.topbar li a{
    color: #fff;
    font-size: 14px;
}
.topbar .search input{
height: 20px;
width: 200px;
border: none;
background-color: #fff;
}
.topbar .search .inbtn{
    border: none;
    color: #fff;
    height: 20px;
    width: 30px;
    background-color: #27d9f4;
}
.logobar{
    width: 100%;
    height: 80px;
    background-color: #a5e8f2;
}

.nav{
    background-color: #08d9fa;
    height: 50px;
}
.nav li{
    width: 220px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nav li a{
    color: #000;
    font-size: 18px;
}
.nav li a:hover{
    color: #fff;
}
.nav li:hover{
    background-color: #fc559d;
}



    a {
        text-decoration: none;
      }
      
      
      .player {
        width: 920px;
        height: 460px;
        margin: 0 auto;
        border-radius: 4px;
        background: #000 url(../images/loading.gif) center/300px no-repeat;
        position: relative;
        text-align: center;
      }
      
      video {
        display: none;
        height: 100%;
        margin: 0 auto;
      }
      
      /* 隐藏video默认的全屏按钮 */
      video::-webkit-media-controls {
        display: none !important;
      }
      /* 播放控件 */
      .controls {
        width: 700px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        position: absolute;
        left: 50%;
        margin-left: -350px;
        bottom: 5px;
        /* 权重比全屏的状态下的视频元素高 */
        z-index: 100000000000;
        opacity: 1;
      }
      
      .player:hover .controls {
        opacity: 1;
      }
      
      /* 播放/暂停 */
      .controls .switch {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: #FFF;
        position: absolute;
        top: 11px;
        left: 11px;
      }
      
      /* 全屏按钮 */
      .controls .expand {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: #FFF;
        position: absolute;
        right: 11px;
        top: 11px;
      }
      
      /* 进度条 */
      .progress {
        width: 430px;
        height: 10px;
        border-radius: 3px;
        overflow: hidden;
        background-color: #555;
        cursor: pointer;
        position: absolute;
        top: 16px;
        left: 45px;
      }
      
      /* 下载进度 */
      .progress .loaded {
        width: 0;
        height: 100%;
        background-color: #999;
      }
      
      /* 播放进度 */
      .progress .line {
        width: 0;
        height: 100%;
        background-color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      /* 音量 */
      .vol {
        width: 4px;
        height: 50px;
        border-radius: 3px;
        overflow: hidden;
        background-color: #fff;
        cursor: pointer;
        position: absolute;
        top: -11px;
        left: 640px;
      }
      
      .progress .bar {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
      }
      
      /* 时间 */
      .timer {
        height: 20px;
        line-height: 20px;
        position: absolute;
        left: 490px;
        top: 11px;
        color: #FFF;
        font-size: 14px;
      }








    .footer{
        height: 60px;
        background-color: #7ee5f5;
        margin-top: 10px;
        padding: 5px 0;
    }
    .footer .f1{
        width: 300px;
        height: 20px;
        margin: 0 auto;
    }
    .footer .f1 li{
        width: 80px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-right: 1px solid #eee;
    }
    .footer .f1 li a{
        color: #000000;
        font-size: 12px;
    }




 
